@media (min-width: 768px) { // PC
    #partie {
        min-height: 100%;

        .feed__header_post {
            background-color: #6E4AFF;
            color: #EBEBF5;
        }

        .feed__post_title {
            font-weight: bold;
            margin-bottom: 5px;
            line-height: 150%;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            .card {
                width: 33.33%;
                padding: 0 10px;
                border-radius: 16px;
                text-align: center;
                margin-bottom: 20px;

                img {
                    width: 100%;
                }

                .card__name {
                    color: rgba(235, 235, 245, 0.5);
                    margin-top: 20px;
                }

                .card__img {
                    position: relative;

                    .card__partie {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 65px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #000;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 17px;
                        border-radius: 0 20px 0 0;

                        img {
                            width: 10px;
                            margin: 0 7px 0 0;
                        }
                    }
                }
            }
        }

        .partie__post_footer {
            .footer__row1 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .round-btn {
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    margin-right: 8px;
                    cursor: pointer;
                    position: relative;

                    &:hover .popover {
                        opacity: 1;
                    }
                }

                .btn-epic {
                    background: rgba(116, 116, 128, .1) url('../img/icon/epic.png') center / 13px no-repeat;
                }

                .btn-pc {
                    background: rgba(116, 116, 128, .1) url('../img/icon/pc.png') center / 18px no-repeat;
                }

                .btn-mic {
                    background: rgba(116, 116, 128, .1) url('../img/icon/mic.png') center / 10px no-repeat;
                }

                .btn-time {
                    border-radius: 40px;
                    padding: 8px 11px;
                    background-color: rgba(210, 200, 103, .1);
                    font-size: 13px;
                    line-height: 17px;
                    color: #D2C867;
                    cursor: pointer;
                }

                .popover {
                    padding: 13px 20px;
                    border-radius: 20px;
                    height: auto;
                    position: absolute;
                    opacity: 0;
                    visibility: visible;
                    bottom: calc(100% + 20px);
                    left: -64px;
                    text-align: center;
                    width: 160px;

                    .popover__name {
                        margin-bottom: 0;
                    }
                }

                .popover, .popover:before {
                    background: #1E1D24;
                    border: 0;
                }
            }

            .footer__row2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    width: 77px;
                    height: 32px;
                    margin-right: 8px;
                }

                .users-active {
                    display: flex;
                    margin-right: 25px;

                    .avatar-wrapp {
                        width: 15px;
                        height: 32px;
                        position: relative;

                        .avatar {
                            height: 32px;
                            width: 32px;
                            border: 3px solid #14131A;
                            position: absolute;
                        }
                    }

                }

                .users-active-counter {
                    font-size: 13px;
                    line-height: 17px;
                    opacity: 0.3;
                }
            }

        }
    }
    #partie__id {
        .feed__header.scroll {
            position: fixed;
            top: -70px;
            left: 0;
            background-color: #000;
            width: 100%;
            padding: 0 336px;
            transition: .5s;
            z-index: 100;

            .feed__header_post {
                background: #6E4AFF;
            }
        }

        .creat-partie {
            display: flex;
            flex-direction: column;
            align-items: center;

            .creat-partie__img {
                display: flex;
                justify-content: center;
                width: 30%;
                box-shadow: 11px 6px 132px -36px #FCDF92;
                border-radius: 50%;
                margin-bottom: 20px;

                img {
                    width: 100%;
                    border-radius: 16px;
                }
            }

            .creat-partie__name {
                font-weight: bold;
                font-size: 32px;
                letter-spacing: -0.408px;
                margin-bottom: 20px;
            }

            button {
                margin-bottom: 20px;
            }

            .creat-partie__radio {
                display: flex;
                justify-content: space-between;
                margin-bottom: 37px;
                width: 100%;

                label,
                .filter__btn,
                .more__btn {
                    padding: 8px 12px;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 17px;
                    transition: .3s;
                    cursor: pointer;
                }

                label:hover {
                    background: rgba(50, 47, 66, 0.6);
                }

                input[type=radio] {
                    display: none;
                }

                input:checked + label {
                    color: #000;
                    background: #EBEBF5;

                    &:hover {
                        background: #EBEBF5;
                    }
                }

                .filter__btn {
                    background-color: #D2C867;
                    color: #000;
                }

                .more__btn {
                    padding-right: 12px;
                    background: url('../img/icon/arrow-down-w.png') 100% 55% / 8px no-repeat;
                }
            }
        }
    }

    .active-partie {
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 20px 16px;
        cursor: pointer;

        .avatar {
            margin-right: 14px;
        }

        .active-partie__text {
            margin-right: 15px;
            font-size: 13px;

            .active-partie__text {
                font-weight: bold;
                line-height: 16px;
                margin-bottom: 3px;
            }

            .active-partie__active {
                line-height: 16px;
                opacity: 0.5;
            }
        }

        .active-partie__counter {
            background: #F45365;
            border-radius: 20px;
            //height: 24px;
            //line-height: 24px;
            text-align: center;
            padding: 4px 10px 6px;
        }
    }

    .feed__col2.new-active-partie {
        display: none;
        //display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        .feed__header {
            .feed__header_title {
                text-align: center;

                .title {
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: -0.408px;
                    cursor: pointer;
                }

                .name {
                    font-size: 13px;
                    line-height: 16px;
                    opacity: 0.5;
                }
            }
        }

        .feed__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;

            .invite-people {
                display: flex;
                flex-direction: column;
                align-items: center;

                .invite-people__img img {
                    width: 129px;
                    margin-bottom: 16px;
                }

                .invite-people__title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 120%;
                    letter-spacing: -0.408px;
                    margin-bottom: 10px;
                }

                .invite-people__description {
                    text-align: center;
                    line-height: 150%;
                    color: rgba(235, 235, 245, 0.5);
                    margin-bottom: 20px;
                }

                button {
                    height: 31px;
                    width: 115px;
                }
            }
        }

        .new-active-partie__messages {

            .new-active-partie__messages_date {
                text-align: center;
                font-size: 13px;
                line-height: 16px;
                color: rgba(248, 246, 255, 0.5);
                margin-bottom: 20px;
            }

            .message {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                position: relative;

                &:last-child {
                    margin-bottom: 0;
                }

                .message__user {
                    display: flex;

                    .avatar {
                        margin-right: 15px;
                    }

                    .message__user_user-name {
                        color: #6E4AFF;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 16px;
                        margin-bottom: 2px;
                        cursor: pointer;
                    }

                    .user-message {
                        line-height: 150%;
                        padding-right: 30px;
                    }

                    .user-window {
                        background: #14131A;
                        border-radius: 20px;
                        position: absolute;
                        padding: 28px 20px;
                        z-index: 1;
                        width: 375px;
                        top: -320px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .2s;

                        .user-window__user {
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;

                            .avatar {
                                width: 64px;
                                height: 64px;
                                margin-right: 20px;
                            }

                            .user-name {
                                font-weight: bold;
                                font-size: 17px;
                                line-height: 16px;
                                color: #FFFFFF;
                                margin-bottom: 13px;
                            }

                            .user-level {
                                background: #6E4AFF;
                                border-radius: 8px;
                                font-weight: bold;
                                font-size: 13px;
                                line-height: 17px;
                                width: auto;
                                padding: 3px 5px 2px 5px;
                                display: inline-block;
                            }
                        }

                        button {
                            margin-bottom: 27px;
                        }

                        .user-window__menu {

                            > div {
                                margin-bottom: 20px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                > div {
                                    font-weight: bold;
                                    font-size: 14px;
                                    color: #FFFFFF;
                                    padding-left: 38px;
                                    line-height: 18px;
                                    cursor: pointer;
                                    display: inline-block;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            .profile {
                                background: url('../img/icon/icon-profile.png') 0 50% / 16px no-repeat;
                            }

                            .folow {
                                background: url('../img/icon/folow-f.png') 0 50% / 18px no-repeat;
                            }

                            .accept {
                                background: url('../img/icon/accept.png') 0 50% / 18px no-repeat;
                            }

                            .remove {
                                background: url('../img/icon/remove.png') 0 50% / 18px no-repeat;
                            }

                        }

                    }
                }

                .message__time {
                    font-size: 13px;
                    line-height: 16px;
                    opacity: 0.3;
                    white-space: pre;
                }
            }

            .new-active-partie__messages_joined {
                text-align: center;
                font-size: 13px;
                line-height: 16px;
                color: rgba(248, 246, 255, 0.5);
                margin-bottom: 20px;

                span {
                    font-weight: 700;
                    color: #D2C867;
                }
            }


        }

        .new-active-partie__message {
            display: flex;
            align-items: center;
            margin-top: 28px;

            .avatar {
                margin-right: 15px;
            }

            input {
                border: 0;
                border-radius: 0;
                padding: 0;
                height: auto;
            }
        }
    }

    .feed__col3 {
        margin-top: 24px;

        .feed__request {
            .feed__request_title {
                font-weight: 500;
                font-size: 13px;
                opacity: 0.5;
                margin-bottom: 20px;
            }

            .feed__friend {
                margin-bottom: 15px;
                display: flex;
                align-items: center;

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: url('../img/pic/ava.png') center / cover no-repeat;
                    position: relative;
                    margin-right: 16px;

                    .status-online {
                        width: 16px;
                        height: 16px;
                        background-color: #43CE62;
                        border-radius: 50%;
                        border: 3px solid #000;
                        position: absolute;
                        bottom: 0;
                        right: -3px;
                    }
                }

                .feed__friend_name {
                    font-weight: 700;

                    .level {
                        margin-top: 6px;
                        line-height: 100%;
                        color: #EBEBF5;
                        opacity: 0.5;
                        font-weight: 400;
                    }
                }

            }

            .feed__request_check {
                margin-left: auto;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #6E4AFF url('../img/icon/ok-w.png') center / 15px no-repeat;
            }

        }
    }

}

.gametrag-copied {
    position: fixed;
    top: 25px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    z-index: 1;
    width: 146px;
    left: calc(50% - 73px);
    background: #14131A;
    border-radius: 20px;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
}

.reportSubmitted {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

//modals
.inviteFriends {
    //top: 0;

    .modal__head {
        button {
            width: 58px;
            height: 32px;
            position: absolute;
            right: 0;
            top: calc(50% - 16px);
        }
    }

    .modal .modal__close {
        left: 0;
        right: auto;
    }

    input[type=text] {
        border: 0;
        padding-left: 50px;
        background: #19181F url('../img/icon/search.png') 19px 50% / 16px no-repeat;
        margin-bottom: 28px;
    }

    .users-check {
        display: flex;
        margin-bottom: 37px;

        .user-check {
            border-radius: 40px;
            padding: 10px 10px 9px 10px;
            font-weight: bold;
            font-size: 13px;
            margin-right: 8px;
        }
    }

    .suggested {
        .suggested__titile {
            font-size: 13px;
            line-height: 100%;
            opacity: 0.5;
            margin-bottom: 20px;
        }

        .suggested__box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        label {
            display: flex;
            align-items: center;
            transition: .3s background-color;
            cursor: pointer;

            .avatar {
                width: 50px;
                height: 50px;
                margin-right: 16px;
            }

            .user {
                display: block;
                .user__name {
                    font-weight: bold;
                    margin-bottom: 6px;
                }

                .user__level {
                    opacity: 0.5;
                }
            }
        }

        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label + label {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            opacity: 0.2;
            border: 1px solid #EBEBF5;
            box-sizing: border-box;;
        }

        input[type=checkbox]:checked + label + label {
            background: #6E4AFF url('../img/icon/ok-w.png') center / 12.5px no-repeat;
            opacity: 1;
            border: 0;
        }
    }
}
.removeUser {
    //top: 0;

    .removeUser__title {
        font-size: 13px;
        opacity: 0.5;
        margin-bottom: 18px;
    }

    input[type=radio] {
        display: none;
    }

    label {
        background: rgba(20,19,26,.8);
        mix-blend-mode: normal;
        border-radius: 20px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 10px;
        transition: .3s;

        &:hover {
            background: rgba(20,19,26,1);
        }
    }

    input[type=radio]:checked + label {
        background: #F8F6FF;
        color: #000;
    }

    input[type=text] {
        border-radius: 0;
        border: 0;
        padding: 0;
        height: auto;
        margin-top: 18px;
        margin-bottom: 20px;
    }
    
    button {
        background-color: #F45365;
    }
}
.titleModal {
    //top: 0 !important;

    .modal__head {
        margin-bottom: 58px;
    }

    .btn-edit {
        position: absolute;
        left: 0;
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;
        cursor: pointer;
    }

    .modal__head-title {
        text-align: center;
        margin-bottom: -16px;

        div {
            font-size: 13px;
            line-height: 16px;
            opacity: 0.5;
            font-weight: 400;
        }
    }

    .titleModal__btns {
        display: flex;
        justify-content: center;
        margin-top: 56px;
        margin-bottom: 40px;

        .btn-container:not(:last-child) {
            margin-right: 15px;
        }
        .btn-container {
            cursor: pointer;
            width: 64px;
        }

        .big-round-btn {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-bottom: 10px;
            transition: .3s;
        }

        .big-round-text {
            text-align: center;
            font-size: 13px;
            line-height: 16px;
            opacity: 0.5;
            white-space: pre;
        }
        .big-round-btn.start {
            background: #43CE62 url('../img/icon/partie.png') center / 22px no-repeat;
        }
        .big-round-btn.share {
            background: #6E4AFF url('../img/icon/share-w.png') center / 24px no-repeat;
        }

        .big-round-btn.invite {
            background: #6E4AFF url('../img/icon/invite.png') center / 30px no-repeat;
        }

        .big-round-btn.more {
            background: rgba(255,255,255,.15) url('../img/icon/other.png') center / 24px no-repeat;

            .close-place {
                display: none;
                z-index: 1;
            }

            .more__win.dev {
                width: 187px;
            }

            .more__win {
                width: 280px;
                height: 112px;
                background: #14131A;
                border-radius: 20px;
                position: fixed;
                z-index: 3;
                padding: 28px;
                transform: translate(85px, -23px);
                cursor: auto;
                visibility: hidden;
                opacity: 0;
                transition: .2s;

                &:before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    background: #14131A;
                    border-radius: 2px;
                    transform: rotate(-45deg);
                    left: -9px;
                    top: calc(50% - 9px);
                }

                .more__win_row {
                    height: 18px;
                    line-height: 18px;
                    font-weight: bold;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    padding-left: 35px;
                    display: inline-block;
                    cursor: pointer;
                }

                .more__win_row.start {
                    background: url('../img/icon/partie-f.png') 0 50% / 13.5px no-repeat;
                }
                .more__win_row.end {
                    background: url('../img/icon/remove.png') 0 50% / 18px no-repeat;
                }
                .more__win_row.leave {
                    background: url('../img/icon/remove.png') 0 50% / 18px no-repeat;
                }
                .more__win_row.report {
                    background: url('../img/icon/report-r.png') 0 50% / 16px no-repeat;
                }
            }
        }
    }

    .titleModal__text {
        background: rgba(50, 47, 66, 0.4);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 40px;

        .titleModal__text_text {
            line-height: 150%;
            color: rgba(235, 235, 245, 0.5);
            margin-bottom: 20px;
        }

        .titleModal__text_btns {
            display: flex;

            .round-btn {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
            }
            .round-btn.xbox {
                background:  rgba(50, 47, 66, 0.4) url('../img/icon/xbox.png') center / 14px no-repeat;
            }
            .round-btn.mic {
                background:  rgba(50, 47, 66, 0.4) url('../img/icon/mic-r.png') center / 13px no-repeat;
            }
            .ranked-btn {
                background-color: rgba(210,200,103,.1);
                border-radius: 40px;
                color: #D2C867;
                height: 32px;
                width: 70px;
                font-size: 13px;
                line-height: 32px;
                text-align: center;
                cursor: pointer;
            }
        }

    }

    .titleModal__active {
        .user {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .avatar {
                width: 50px;
                height: 50px;
                margin-right: 15px;
            }
            .user__name {
                font-weight: bold;
                margin-bottom: 6px;
            }
            .user__level {
                opacity: 0.5;
            }
            .user__creator {
                margin-left: auto;
                font-size: 13px;
                opacity: 0.5;
            }
        }
    }

}
#titleModal.titleModal {
    //top: 0;
}
#editPartie.hostLiveShow {
    //top: 0;

    .hostLiveShow__btns {
        margin-bottom: 0;
    }
}
#titleModalStart.titleModal {
    //top: 0;
}
#partieReport.removeUser {
    //top: 0;

    button {
        background-color: rgba(235,235,245,.1);
        transition: .3s;
    }
}
#ratingPartie.ratingPartie {
    //top: 0;
    transition: .3s;

    .modal {
        height: 297px;
        overflow: hidden;
    }
    .modal__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
        }

        .rating__title {
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            margin-bottom: 4px;
        }

        .rating-area {

            &:not(:checked) > input {
                display: none;
            }
            &:not(:checked) > label {
                float: right;
                width: 36px;
                padding: 0;
                cursor: pointer;
                font-size: 50px;
                line-height: 50px;
                color: #322F42;
                margin-right: 15px;
            }
            &:not(:checked) > label:before {
                content: '★';
            }
            > input#star-1:checked ~ label,
            > input#star-2:checked ~ label {
                color: #F45365;
            }
            > input#star-3:checked ~ label {
                color:#9C42AB;
            }
            > input#star-4:checked ~ label {
                color: #6E4AFF;
            }
            > input#star-5:checked ~ label {
                color: #D2C867;
            }
        }

        #btnSkip {
            width: calc(100% - 40px);
            margin: 0 auto;
            right: 20px;
            bottom: 20px;
            transition: .5s;
            position: absolute;
        }

        hr {
            margin: 0 -20px;
            opacity: 0.3;
            border-top: 1px solid #504d60;
        }

        .star-2 {
            width: 100%;
            position: relative;
            right: -110%;
            transition: .3s right;
            margin-top: 20px;

            textarea {
                display: block;
                margin: 0 auto;
                width: 165px;
                border: 0;
                border-radius: 0;
                height: 109px;
                padding: 40px 0 10px 0;
                opacity: 1;
                transition: .2s;
            }
    }

        .star-3 {
            width: 100%;
            position: relative;
            right: -110%;
            transition: .3s;
            margin-top: 20px;

            .star-3__title {
                font-weight: bold;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: -0.408px;
                text-align: center;
                margin: 20px 0;
            }

            .star-3__tokens {
                display: flex;
                flex-wrap: wrap;
                padding: 0 60px;

                .token {
                    width: 33.33%;
                    //margin-right: 30px;
                    margin-bottom: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    .token__img {
                        width: 70px;
                        height: 80px;
                        background: url('../img/pic/taken1.png') center / contain no-repeat;
                        margin: 0 auto 11px;
                    }
                    .token__name {
                        font-size: 11px;
                        line-height: 130%;
                        text-align: center;
                    }
                }
            }

            button {
                width: 50%;
                margin-right: 12px;
                margin-top: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .star-4 {
            width: 100%;
            position: relative;
            right: -110%;
            transition: .3s;
            margin-top: 20px;

            .star-3__title {
                font-weight: bold;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: -0.408px;
                text-align: center;
                margin: 20px 0;
            }

            .star-3__tokens {
                display: flex;
                flex-wrap: wrap;
                padding: 0 60px;

                .token {
                    width: 33.33%;
                    //margin-right: 30px;
                    margin-bottom: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    .token__img {
                        width: 70px;
                        height: 80px;
                        background: url('../img/pic/taken1.png') center / contain no-repeat;
                        margin: 0 auto 11px;
                    }
                    .token__name {
                        font-size: 11px;
                        line-height: 130%;
                        text-align: center;
                    }
                }
            }

            button {
                width: 50%;
                margin-right: 12px;
                margin-top: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .star-5 {
            width: 100%;
            position: relative;
            right: -110%;
            transition: .3s;
            margin-top: 20px;

            .star-3__title {
                font-weight: bold;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: -0.408px;
                text-align: center;
                margin: 20px 0;
            }

            .star-3__tokens {
                display: flex;
                flex-wrap: wrap;
                padding: 0 60px;

                .token {
                    width: 33.33%;
                    //margin-right: 30px;
                    margin-bottom: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    .token__img {
                        width: 70px;
                        height: 80px;
                        background: url('../img/pic/taken1.png') center / contain no-repeat;
                        margin: 0 auto 11px;
                    }
                    .token__name {
                        font-size: 11px;
                        line-height: 130%;
                        text-align: center;
                    }
                }
            }

            button {
                width: 50%;
                margin-right: 12px;
                margin-top: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }


    }

}

@media (max-width: 767px) { // mobile

}