#profile {
    min-height: 100%;

    .feed__header_params {
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
    }

    .feed__header {
        position: relative;
    }

    .burger {
        display: block;
        width: 20px;
        position: absolute;
        top: calc(50% - 8px);
        right: 0;
        padding: 7px 0;
        cursor: pointer;
        z-index: 11;

        span,
        span:after,
        span:before {
            display: block;
            height: 2px;
            width: 100%;
            background: #F8F6FF;
        }

        span:before {
            content: '';
            position: absolute;
            top: 0;
        }

        span:after {
            content: '';
            position: absolute;
            bottom: 0;
        }
    }

    .profile__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;


        > button {
            font-weight: 400;
        }

        .avatar {
            width: 140px;
            height: 140px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-right: 0;
            margin-bottom: 32px;

            .avatar__level {
                background: #6E4AFF;
                border-radius: 8px;
                padding: 3px 5px;
                margin-bottom: -13px;
                font-weight: bold;
                font-size: 13px;
                line-height: 17px;
                cursor: pointer;
            }
        }

        .info_avatar__name {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
            display: flex;

            .star {
                margin-left: 9px;
            }
        }

        .info_avatar__counters {
            display: flex;
            text-align: center;
            margin-bottom: 40px;

            .info_avatar__counters_follow {
                margin-right: 26px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }
            }

            .counter__number {
                font-weight: bold;
                font-size: 17px;
                line-height: 150%;
            }

            .counter__name {
                font-size: 13px;
                line-height: 150%;
                color: rgba(235, 235, 245, .5);
            }
        }

        .info_avatar__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;

            .gamertags {
                color: #504D60;
                opacity: 0.9;
                cursor: pointer;
            }

            .show-all {
                font-weight: 700;
                cursor: pointer;
            }
        }

        .ps {
            height: 0;
            overflow: hidden;
            background: #3069E8 url('../img/icon/ps.png') 26px 50% / 23px no-repeat;
            transition: .3s;
        }

        .info_avatar__twich {
            padding: 20px;
            border-radius: 20px;
            background-color: rgba(20, 19, 26, .8);
            margin-bottom: 20px;

            .info_avatar__twich_text {
                color: rgba(235, 235, 245, 0.5);
                line-height: 150%;
                margin-bottom: 15px;
            }

            .info_avatar__twich_link {
                font-weight: bold;
                line-height: 150%;
                display: inline-flex;
                align-items: center;

                img {
                    margin-right: 15px;
                }
            }
        }

        .info_avatar__progress {
            background: rgba(50, 47, 66, 0.4);
            border-radius: 20px;
            position: relative;
            margin-bottom: 20px;
            height: 64px;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 58px;
            overflow: hidden;
            cursor: pointer;

            &:before {
                content: '';
                width: 23%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #6E4AFF;
            }

            svg {
                position: absolute;
                width: 18px;
                left: 20px;
                top: calc(50% - 9px);
                opacity: .3;
            }

            .info_avatar__progress_text {
                font-weight: bold;
                position: relative;
                z-index: 0;

                div {
                    font-weight: 400;
                    padding-top: 4px;
                }
            }
        }

        .info_avatar__progress.earnings-tracker {
            background-color: transparent;
            border: 1px solid #19181F;

            &:before {
                content: none;
            }

            svg {
                opacity: 1;
            }

            .info_avatar__progress_text div {
                opacity: .4;
            }
        }

        button {
            height: 64px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        button.epic {
            background: rgba(20, 19, 26, .8) url('../img/icon/epic.png') 29px 50% / 20px no-repeat;

            &:hover {
                background-color: rgba(20, 19, 26, 1);
            }
        }

        button.origin {
            background: url('../img/icon/origin.png') 29px 50% / 18px no-repeat;
        }

    }

    .profile__tabs {
        .tab {
            overflow: hidden;
            display: flex;
            margin-bottom: 20px;
        }

        .tablinks {
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            align-items: center;
            color: #504D60;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        .tablinks.active {
            color: #EBEBF5;

            svg path {
                fill: #6E4AFF;
            }
        }

        svg {
            margin-right: 9px;
        }

        .tabcontent {
            //height: 0;
            overflow: hidden;
            transition: 0s height;
        }
    }

    .followers {
        display: none;

        .feed__header {
            justify-content: center;

            a {
                position: absolute;
                left: 0;
            }

            .tab {
                display: flex;

                .tablinks {
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: -0.408px;
                    color: #504D60;
                    margin-right: 16px;
                    cursor: pointer;
                    transition: .3s;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .tab div.active {
                color: #EBEBF5;
            }
        }

        input {
            padding-left: 50px;
            background: #19181F url('../img/icon/search.png') 19px 50% / 16px no-repeat;
            margin-bottom: 28px;
        }

        .followers-content {

            input {
                border: 0;
            }

            .followers__row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .followers__user {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .avatar {
                        width: 50px;
                        height: 50px;
                        margin-right: 16px;
                    }

                    .followers__user_name {
                        font-weight: bold;
                        margin-bottom: 6px;
                    }

                    .followers__user_level {
                        opacity: 0.5;
                    }
                }

                button {
                    width: 79px;
                    height: 32px;
                    text-align: center;
                    background-color: #6E4AFF;
                }

            }
        }

        .followers-content.following {

        }

    }

}

//modals
#profileProgress {
    .info_avatar__progress {
        background: rgba(50, 47, 66, 0.4);
        border-radius: 20px;
        position: relative;
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 58px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 30px;

        &:before {
            content: '';
            width: 23%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #6E4AFF;
        }

        svg {
            position: absolute;
            width: 18px;
            left: 20px;
            top: calc(50% - 9px);
            opacity: .3;
        }

        .info_avatar__progress_text {
            font-weight: bold;
            padding-top: 4px;
            position: relative;
            z-index: 1;

            div {
                font-weight: 400;
            }
        }
    }

    .info_avatar__progress-bar {
        width: 100%;

        .progress-bar__text {
            color: rgba(235, 235, 245, .5);
            line-height: 150%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;

            div {
                font-weight: bold;
                color: #EBEBF5;
            }
        }

        .progress-bar__progress {
            width: 100%;
            height: 10px;
            background: rgba(50, 47, 66, 0.4);
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 14%;
                background-color: #6E4AFF;
            }

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }

    .info_avatar__about {
        text-align: center;
        margin: 0 auto 15px;
        font-weight: 700;

        span {
            cursor: pointer;
        }
    }
}

#applyPartner {
    //top: 0;
    .modal__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin-bottom: 20px;
        }

        .partner__great {
            font-weight: bold;
            font-size: 17px;
            line-height: 150%;
            margin-bottom: 10px;
        }

        .partner__text {
            line-height: 150%;
            text-align: center;
            color: rgba(235, 235, 245, .5);
            margin-bottom: 40px;
        }

        button {
            margin-bottom: 25px;
        }

        .partner__about {
            font-weight: bold;
            margin-bottom: 35px;
            cursor: pointer;
        }
    }
}

#levelProgress {
    //top: 0;
    .modal__content {

        .modal__content_row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            .romb {
                width: 40px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 17px;
                line-height: 150%;
                background: url('../img/icon/romb-f.png') center / 100% no-repeat;
                margin-right: 20px;
            }

            .romb.-m {
                width: 30px;
                height: 32px;
                background: url('../img/icon/romb-m.png') center / 100% no-repeat;
                margin-right: 0;
                margin-left: 20px;
                font-size: 14px;
            }

            .progress {
                flex-grow: 1;

                .progress__text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 5px;

                    .progress__text_left {
                        line-height: 150%;
                        color: rgba(235, 235, 245, .5);
                    }

                    .progress__text_right {
                        font-weight: 700;
                    }
                }

                .progress__progress-bar {
                    width: 100%;
                    height: 10px;
                    background: rgba(50, 47, 66, 0.4);
                    mix-blend-mode: screen;
                    border-radius: 20px;
                    overflow: hidden;
                    position: relative;

                    &:before {
                        content: '';
                        height: 100%;
                        width: 40%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #6E4AFF;
                        border-radius: 10px;


                    }
                }
            }

        }

        .counters {
            display: flex;
            width: 100%;
            padding-left: 58px;
            margin-bottom: 40px;

            .counter {
                margin-right: 50px;

                .counter__number {
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 150%;
                }

                .counter__text {
                    font-size: 13px;
                    line-height: 150%;
                    color: #504D60;
                    white-space: nowrap;
                }
            }
        }

        .level-progress__tab {
            //margin-bottom: -40px;
            .tab {
                display: flex;
                margin-bottom: 20px;

                .tablinks {
                    display: flex;
                    align-items: center;
                    margin-right: 21px;
                    cursor: pointer;
                    color: #504D60;
                    font-size: 13px;
                    line-height: 16px;
                    transition: .3s;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .tablinks.active {
                    color: #F8F6FF;

                    svg path,
                    svg, rect {
                        fill: #6E4AFF;
                    }
                }

                svg {
                    margin-right: 7px;
                }
            }

            .tabcontent {
                .tokens, .tokens-pc {
                    display: flex;
                    flex-wrap: wrap;

                    .token {
                        width: 70px;
                        height: 80px;
                        margin-right: 18px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        position: relative;

                        &:nth-child(5n) {
                            margin-right: 0;
                        }

                        img {
                            width: 100%;
                        }

                        .token__counter {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            padding: 0 4px 2px;
                            background: #6E4AFF;
                            border-radius: 7px;
                            min-width: 22px;
                            height: 22px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .popover {
                            padding: 20px;
                            position: fixed;
                            background: #14131A;
                            border: 1px solid #1E1D24;
                            border-radius: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            z-index: 1;
                            width: 254px;
                            opacity: 0;
                            visibility: hidden;
                            transition: .3s opacity;

                            &:before {
                                content: '';
                                width: 16px;
                                height: 16px;
                                background-color: #14131A;
                                border: 1px solid #14131A;
                                transform: rotate(45deg);
                                position: absolute;
                                bottom: -8px;
                                left: calc(50% - 8px);
                            }

                            .popover__name {
                                font-weight: bold;
                                font-size: 17px;
                                line-height: 150%;
                                margin-bottom: 10px;
                            }

                            .popover__description {
                                line-height: 150%;
                                color: #EBEBF5;
                                opacity: 0.5;
                            }
                        }
                    }
                }

            }
        }
    }
}

#editProfile {
    //top: 0;
    .modal__close {
        left: 0;
    }

    .editProfile__title {
        font-size: 13px;
        opacity: 0.5;
        margin-bottom: 5px;
    }

    .editProfile__text {
        font-size: 17px;
        line-height: 22px;
    }

    .edit-avatar {
        margin: 0 auto 40px;
        width: 100px;
        height: 100px;
        position: relative;

        .avatar {
            width: 100%;
            height: 100%;
            opacity: .4;
        }

        input {
            display: none;
        }

        label {
            position: absolute;
            top: calc(50% - 23px);
            left: calc(50% - 23px);
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: #fff url('../img/icon/photo.png') center / 20px no-repeat;
            cursor: pointer;
        }
    }

    .editProfile__description {
        width: 100%;
        margin-bottom: 20px;
    }

    .editProfile__website {
        input {
            border: 0;
            padding: 0;
            height: auto;
            margin-bottom: 40px;
            border-radius: 0;
        }
    }

    .editProfile__account {
        font-size: 17px;
        font-weight: 700;
        cursor: pointer;
    }

    button {
        margin-top: 40px;
        transition: .3s;
    }

}


@media (max-width: 1023px) { // mobile

    .burger__wrapp .burger__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        width: 100%;
        background-color: #000;
        border-radius: 20px 20px 0 0;

        > div {
            padding-bottom: 54px;
        }

        .burger-bg {
            height: 6px;
            width: 36px;
            position: absolute;
            top: 7px;
            left: calc(50% - 18px);
            background-color: #2B2A33;
        }
    }

    #profile .feed__col2 .feed__header .feed__header_params {
        left: 0;
    }

    .modal-wrapp {
        background-color: rgba(20, 20, 20, .6);
    }

    #ratingPartie .modal {
        left: 0;
        bottom: 0;
        top: auto;
    }

    #inviteFriendsSetting .modal,
    #hostPlatform .modal,
    #gametrag .modal,
    #profileProgress .modal,
    #applyPartner .modal,
    #levelProgress .modal,
    #unfollow .modal,
    #gametragPlatform .modal,
    #gametragName .modal,
    #removeUser .modal,
    #partieReport .modal,
    #leaveChat .modal,
    #deleteAccount .modal,
    #share .modal {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: auto;
        right: auto;
        left: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        padding-top: 40px;

        &:before {
            content: '';
            position: absolute;
            height: 6px;
            width: 36px;
            top: 7px;
            left: calc(50% - 18px);
            background-color: #2B2A33;
            border-radius: 20px;
        }

        .modal__head {
            display: none;
        }

        .modal__content {
            width: 100%;
        }
    }

    #levelProgress .modal {
        align-items: flex-start;
    }

    #gamertags {

        .gamertags__add {
            position: absolute;
            top: -5px;
            right: 0;

            width: 68px;
            height: 32px;

            border-radius: 20px;
            background: #FFFFFF;

            text-align: center;

            font-weight: bold;
            line-height: 32px;
            font-size: 13px;
            
            color: #000;
        }

        button {
            height: 64px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        button.next {
            font-size: 13px;
        }

        button.epic {
            background: rgba(20, 19, 26, .8) url('../img/icon/epic.png') 29px 50% / 20px no-repeat;

            &:hover {
                background-color: rgba(20, 19, 26, 1);
            }
        }

        button.origin {
            background: url('../img/icon/origin.png') 29px 50% / 18px no-repeat;
        }

        .ps-mobile {
            height: 64px;
            background: #3069E8 url('../img/icon/ps.png') 26px 50% / 23px no-repeat;
            transition: .3s;
        }

    }

    .gametrag-modal {
        .modal__content,
        .modal__head {
            display: none;
        }

        .gametrag-mobile {
            width: 100%;
        }

        .gametrag-mobile__title {
            padding-left: 19px;
            background: url('../img/icon/arrow-left-w.png') 0 50% / 7px no-repeat;
            color: rgba(248, 246, 255, .5);
            font-size: 13px;
            margin-bottom: 16px;
        }

        .gametrag-mobile__row {
            display: flex;
            align-items: center;
            position: relative;
        }

        input {
            width: calc(100% - 20px);
            height: auto;
            border: 0;
            border-radius: 0;
        }

        .label {
            width: 20px;
            height: 20px;
            min-width: 20px;
            background: url('../img/icon/ps.png') center / contain no-repeat;
        }

        button {
            width: 59px;
            height: 32px;
            margin-left: auto;
            visibility: hidden;
            opacity: 0;
            transition: .2s;
        }
    }

    .modal-arrow:before {
        content: '';
        position: absolute;
        height: 6px;
        width: 20px !important;
        top: 7px;
        left: calc(50% - 2px) !important;
        background-color: #2b2a33;
        border-radius: 20px;
        transform: rotate(-10deg);
    }
    .modal-arrow:after {
        content: '';
        position: absolute;
        height: 6px;
        width: 20px;
        top: 7px;
        right: calc(50% - 2px);
        background-color: #2b2a33;
        border-radius: 20px;
        transform: rotate(10deg);
    }

    #profileProgress {

        .modal__content {
            height: calc(50vh - 60px);

            margin: 0 -20px;
            padding: 0 20px;

            overflow: hidden;
            overflow-y: auto;

            box-sizing: inherit;

            transition: .5s;

            .info_avatar__progress-bar:nth-last-child(2) {
                padding-bottom: 60px;
            }
        }

        .info_avatar__about {
            position: fixed;
            left: 0;
            right: 0;
            bottom: -15px;
            background-color: #17171A;
            height: 89px;
            padding-top: 21px;

            &:before {
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: -46px;
                width: 100%;
                height: 46px;
                background: linear-gradient(180deg, #17171A 0%, rgba(23, 23, 26, 0) 100%);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
        }
    }

    .tokens-pc {
        display: none !important;
    }

    .tokens-mobile {
        display: flex;
    }

    .level-progress.modal {
        padding-left: 0;
        padding-right: 0;

        .modal__content_row,
        .counters,
        .tab {
            padding: 0 20px;
        }
    }

    #levelProgress .modal__content .level-progress__tab .tabcontent .tokens {
        overflow: auto;
        padding-left: 20px;
    }

    #levelProgress .modal__content .counters {
        margin-bottom: 20px;
    }

    .progressbar {
        width: 100%;
        height: 1px;
        background-color: #504D60;
        position: relative;
        margin-bottom: 20px;

        div {
            width: 0;
            height: 1px;
            position: absolute;
            left: 0;
            background-color: #fff;
        }
    }

    #levelProgress .modal__content .level-progress__tab .tabcontent .tokens .token:nth-child(5n) {
        margin-right: 20px;
    }

    .editProfile__save {
        font-size: 13px;
        width: 65px;
        height: 32px;
        background-color: #6E4AFF;
        position: absolute;
        right: 0;
        margin-top: 0 !important;
    }

    #editProfile button.bg-fiolet {
        display: none;
    }

    #editProfile .editProfile__account {
        background: url('../img/icon/arrow-right.png') 100% 50% / 8px no-repeat;
    }

    #hostPartie .shortcuts .shortcuts__box .shortcuts__btn-limited {
        width: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline;
    }

    #hostPartie .shortcuts:before {
        content: '';
        position: absolute;
        top: 7px;
        left: calc(50% - 19px);
        width: 38px;
        height: 6px;
        border-radius: 20px;
        background-color: #2b2a33;
    }

    #hostPartie .shortcuts .shortcuts__title .btn-up {
        display: none;
    }


    #editPartie {
        width: 100%;

        .hostLiveShow__btns .btn-create {
            position: absolute;
            top: 14px;
            right: 20px;
            height: 32px;
        }

        .hostLiveShow__btns .btn-round,
        .hostLiveShow__img .delete-img {
            display: none;
        }

        .modal__close {
            left: 0;
            right: auto;
        }

        .btn-create {
            position: absolute;
            right: 0;
            background: #6E4AFF;
            border-radius: 20px;
            width: 59px;
            height: 32px;
            font-size: 13px;
        }

        .gametrag button {
            background: #3069e8 url('../img/icon/ps.png') 28.7px 50% / 22.5px no-repeat;
            height: 64px;
        }

        button.host-ps {
            background: rgba(20, 19, 26, .8) url('../img/icon/ps.png') 28.7px 50% / 22.5px no-repeat;
        }

        .communication button {
            background: rgba(20, 19, 26, .8) url('../img/icon/mic.png') 33.8px 50% / 13px no-repeat;
            height: 64px;
        }

        #gametragName.gametrag-modal input {
            width: 100%;
            padding: 0;
        }

        .modal__content.platform {
            margin-top: 40px;
        }

        .modal__content {
            margin-bottom: 20px;
        }

        .platform__title {
            margin-bottom: 10px;
        }

        .modal__content button {
            height: 64px;
        }

        .hostLiveShow__btns .btn-public {
            height: 32px;
        }

        .editPartie__btns.mobile {
            button {
                font-weight: 400;
            }

            .modal__content:nth-last-child(2) button,
            .modal__content:nth-last-child(3) button {
                color: rgba(235, 235, 245, .4);
            }
        }

        .hostLiveShow__btns input[type=file] + label {
            position: absolute;
            width: 46px;
            height: 46px;
            margin-right: 0;
            left: calc(50% - 23px);
            top: -146px;
            background: #f8f6ff url('../img/icon/photo.png') center / 20.1px no-repeat;
            display: block;
        }

        .hostLiveShow__img {
            opacity: .5;
        }
    }

    #hostLiveShowMobile,
    #createShortcutMobile,
    #editShortcutMobile {
        //z-index: 2;
        //opacity: 1;

        .modal__content.platform {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .modal__content {
            margin-bottom: 20px;

            .platform__title {
                margin-bottom: 10px;
            }
        }

        .modal .modal__close {
            right: auto;
            left: 0;
        }

        .modal__content:not(:nth-child(2)) button {
            font-weight: 400;
            height: 64px;
        }

        .modal__content:nth-last-child(1) button,
        .modal__content:nth-last-child(2) button,
        .modal__content:nth-last-child(3) button {
            color: rgba(235, 235, 245, .4);
        }

        .subscription__policy {
            margin-top: 40px;
        }

        .btn-create {
            position: absolute;
            right: 0;
            top: -5px;
            background: #6E4AFF;
            border-radius: 20px;
            width: 59px;
            height: 32px;
            font-size: 13px;
        }

        .gametrag button {
            background: #3069e8 url('../img/icon/ps.png') 28.7px 50% / 22.5px no-repeat;
            height: 64px;
        }

        button.host-ps {
            background: rgba(20, 19, 26, .8) url('../img/icon/ps.png') 28.7px 50% / 22.5px no-repeat;
        }

        .communication button {
            background: rgba(20, 19, 26, .8) url('../img/icon/mic.png') 33.8px 50% / 13px no-repeat;
            height: 64px;
        }

        #gametragName.gametrag-modal input {
            width: 100%;
            padding: 0;
        }
    }

    .feed__col2.new-active-partie .new-active-partie__messages .message .message__user .user-window {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        border-radius: 20px 20px 0 0;
        width: 100%;
        background: #000000;
        padding-top: 40px;
        padding-bottom: 53px;

        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: calc(50% - 19px);
            width: 38px;
            height: 6px;
            border-radius: 20px;
            background-color: #2b2a33;
        }
    }

    #removeUser,
    #partieReport {

        .modal {
            padding-bottom: 54px;
        }

        .removeUser__title {
            opacity: 1;
            color: rgba(235, 235, 245, .5);
            background: url('../img/icon/arrow-left-w.png') 0 50% / 8px no-repeat;
            padding-left: 20px;
        }

        .removeUser-mobile {
            display: flex;
            overflow: auto;
            margin: 0 -20px;
            padding-left: 20px;

            label {
                padding: 0 18px;
                margin-right: 8px;
            }
        }
    }

    .titleModal .titleModal__btns .big-round-btn.more .more__win.dev {
        width: 100%;

        &:before {
            //content: '';
            display: none;
        }
    }

    .titleModal {

        .modal__close {
            right: auto;
            left: 0;
        }

        .btn-edit {
            left: auto;
            right: 0;
        }

        .titleModal__btns .big-round-btn.more .more__win {
            left: 0;
            bottom: 0;
            transform: none;
            border-radius: 0;
            padding-bottom: 34px;
            background-color: #000;
            height: auto;
        }
    }

    #editPartie .hostLiveShow__img img {
        height: 208px;
        object-fit: contain;
    }

    .hostLiveShow__btns_label {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }

    #titleModalStart {
        .requests {
            margin-bottom: 40px;

            .requests__title {
                font-size: 13px;
                opacity: 0.5;
                margin-bottom: 20px;
            }

            button {
                margin-left: auto;
                background-color: #6E4AFF;
                width: 68px;
                height: 32px;
            }
        }
    }

    #ratingPartie.ratingPartie .modal__content .star-2 textarea {
        min-height: 222px;
        vertical-align: middle;
        padding: 98px 0 10px 0;
    }

    #ratingPartie.ratingPartie .modal__content {

        .star-3__tokens {
            flex-wrap: nowrap !important;
            overflow: auto;
            padding: 0 !important;

            .token {
                min-width: 27%;
                margin-right: 0;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }

    #partie .feed__col2.chats {
        padding-top: 60px;

        .message-wrapp {
            width: calc(100% - 66px);
            padding-right: 65px;
        }

        .user {
            display: flex;
            align-items: center;

            .avatar:not(.avatar-small) {
                width: 50px;
                height: 50px;
                margin-right: 15px;
                cursor: pointer;
                min-width: 50px;
            }

            .user__name {
                font-weight: bold;
                margin-bottom: 6px;
                cursor: pointer;
            }

            .user__level,
            .user__message {
                opacity: 0.5;
            }

            .user__name,
            .user__message {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

    }

    #newChat .modal {
        background-color: #14131A;

        .modal__head button {
            font-size: 13px;
        }

        .users-check {
            margin-bottom: 18px;
        }


    }

    .feed__col2.new-active-partie .feed__header .feed__header_title {
        width: calc(100% - 80px);

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .active {
            font-size: 13px;
            line-height: 16px;
            opacity: 0.5;
        }
    }

    #partie .feed__col2.new-active-partie {
        //padding-top: 0;
        padding: 60px 20px 78px;

        .new-active-partie__message {
            position: fixed;
            left: 20px;
            bottom: 0;
            right: 20px;
            padding: 6px 0 40px;
            background-color: #000;
        }
    }

    #levelProgressToken,
    #levelProgressAchivements {
        //z-index: 14;
        //opacity: 1;

        .modal {
            background-color: rgba(40, 26, 92, .89);
            border-radius: 0;
            justify-content: center;
            display: flex;
            align-items: center;
            height: 100%;
        }

        .modal__content {
            min-width: 0;
            height: 435px;
            position: relative;
        }

        .levelProgressSlider__box {
            width: 315px;
            height: 435px;
            border-radius: 20px;
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 27px;
            margin: 0 10px;
        }

        .levelProgressSlider__img {
            width: 102px;
            height: 120px;
            background: url('../img/pic/great.png') center / contain no-repeat;
            margin-bottom: 20px;
        }

        .levelProgressSlider__head-title {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.02em;
            color: #F8F6FF;
            position: fixed;
            top: calc(50% - 305px);
            text-align: center;
            width: 100%;
        }

        .levelProgressSlider__title {
            font-weight: bold;
            font-size: 17px;
            line-height: 150%;
            margin-bottom: 10px;
            text-align: center;
        }

        .levelProgressSlider__description {
            font-size: 14px;
            line-height: 150%;
            color: #EBEBF5;
            opacity: 0.5;
            text-align: center;
        }

        .slick-track {
            display: flex;
        }

        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 32px auto 0;
            width: 70%;

            .slick-active {
                background-color: rgba(255,255,255,1);
                transition: .3s;
                border-radius: 20px;
                overflow: hidden;


            }

            li  {
                flex-grow: 1;

                button{
                    width: 100%;
                    height: 4px;
                    background-color: rgba(255,255,255,.2);
                    font-size: 0;
                    border-radius: 0;
                }
            }

            li:first-child button {
                border-radius: 20px 0 0 20px;
            }
            li:last-child button {
                border-radius: 0 20px 20px 0;
            }

        }
    }

}
