@mixin font($font_name, $file_name, $weight, $style) { // подключение шрифтов
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'fonts.scss';
@import 'logIn.scss';
@import 'bg-animation.scss';
@import 'header';
@import 'subscription';
@import 'feed';
@import 'slider';
@import 'profile';
@import 'partie';
@import 'profiles';
@import 'creat_parties';
@import 'chats';
@import 'settings';
@import 'about';
@import 'search';
@import 'notifications';

.links {
    position: fixed;
    top: 150px;
    li {
        margin-bottom: 20px;
    }
    ul:last-child {
        position: fixed;
        right: 40px;
        top: 150px;
        height: 500px;
        overflow-y: auto;
    }
}


//обнуление
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
    min-height: 25px;
    //&::-webkit-scrollbar { width: 0; }
    //-ms-overflow-style: none;
    //overflow: -moz-scrollbars-none;

}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    display: block;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #EBEBF5;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

//-------------------------


body {
    font-family: Mont, sans-serif;
    background-color: #000;
    color: #EBEBF5;
    transition: .5s;

    // scrollbar off
    &::-webkit-scrollbar { width: 0; }
    & { -ms-overflow-style: none; }
    & { overflow: -moz-scrollbars-none; }
}

.wrapper {
    padding: 0 30px;
    width: 100%;
    height: 100%;
}



button, a.btn {
    background-color: rgba(20,19,26,.8);
    border-radius: 20px;
    width: 100%;
    height: 52px;
    color: #EBEBF5;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: .3s;
}

input {
    padding: 0 20px;
    width: 100%;
    height: 52px;
    border: 1px solid #2F2F31;
    border-radius: 20px;
    background-color: #000;
    font-size: 17px;
    color: #F8F6FF;
    transition: .5s easy;
    letter-spacing: normal;
}

input:focus {
    border: 1px solid #6E4AFF;
}

input::placeholder {
    color: #2F2F31;
    font-size: 17px;    
}

input[type=password] {
    font: large Verdana, sans-serif;
    letter-spacing: 5px;

    &::placeholder {
        letter-spacing: normal;
    }
}

input[type=date] {
    min-width: 100%;  
    background: none;  
}

.bg-fiolet {
    background-color: #6E4AFF !important;
}

.bg-orange {
    background-color: #D86035 !important;
}

.bg-yellow {
    background-color: #D2C867;
    color: #000;
}

.hidden {
    visibility: hidden;
}

.d-block {
    display: block !important;
}

.star {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: #6E4AFF url('../img/icon/Star.svg') 50% calc(50% - 1px)/ 10px no-repeat;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 32px;

    input {
        display: none;
    }

    span {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #19181F;
        -webkit-transition: .4s;
        transition: .4s;
    }

    span:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 3px;
        background-color: #4B4A51;
        -webkit-transition: .5s;
        transition: .5s;
    }

    input:checked + span {
        background-color: #19181F;
    }

    input:focus + span {
        box-shadow: 0 0 1px #19181F;
    }

    input:checked + span:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
        transform: translateX(19px);
        background-color: #6E4AFF;
    }

    /* Rounded sliders */
    span.round {
        border-radius: 34px;
    }

    span.round:before {
        border-radius: 50%;
    }
}


.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.token-disabled {
    filter: grayscale(1);
    opacity: .3;
    cursor: auto !important;
}

.token-opacity {
    opacity: .5;
}

.tool {
    transition: .3s;
}

.tooltip {
    padding: 13px 20px;
    border-radius: 20px;
    height: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: calc(100% + 20px);
    left: -49px;
    text-align: center;
    width: 132px;
    transition: .3s;

    .popover__name {
        margin-bottom: 0;
    }

    &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        bottom: -8px;
        left: calc(50% - 8px);
    }
}

.tool:hover  {
    background-color: rgba(116,116,128,.3) !important;

    .tooltip {
        opacity: 1;
        visibility: visible;
    }
}


.tooltip, .tooltip:before {
    background: #1E1D24;
    border: 0;
}

.center {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    overflow: auto;

}

.btn-back {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-origin {
    background: #D86035 url('../img/icon/origin.svg') 29px 50% / 17.7px no-repeat;
}

.hint {
    font-size: 11px;
    color: #7C7B7F;
    margin-top: 11px;
}

.hint.error {
    color: #F45365;
    opacity: 1;
}

.border-error {
    border: 1px solid #F45365 !important;
}

.btn-valid-ok {
    background: #6E4AFF;
    opacity: 1 !important;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.modal .title {
    font-weight: 400;
}

.modal.overflow-hidden {
    overflow: hidden;
}

.active-tab {
    color: #EBEBF5 !important;
}

.disabled {
    background: #29282F;
    color: rgba(235,235,245,.3);
}

.bg-btn-container-show {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #141414;
    opacity: 0;
    z-index: -1;
}


.btn-container-show {
    transition: 1s easy;
    //position: fixed;
    //bottom: 0;
    //left: 0;
    background-color: #000;
    width: 100%;
    //padding: 30px 30px 54px;
    border-radius: 20px 20px 0;
    z-index: -1;
    opacity: 0;
    display: none;

    .btn-apple {
        background: rgba(20,19,26,.8) url('../img/icon/apple.png') 20px center / auto 19px no-repeat;
        margin-bottom: 10px;
        display: none;
        &:hover {
            background-color: rgba(20,19,26,1);
        }
    }

    .btn-google {
        background: rgba(20,19,26,.8) url('../img/icon/google.png') 20px center / auto 19px no-repeat;
        margin-bottom: 10px;
        &:hover {
            background-color: rgba(20,19,26,1);
        }
    }

    .btn-facebook {
        background: rgba(20,19,26,.8) url('../img/icon/facebook.png') 20px center / auto 19px no-repeat;
        margin-bottom: 0;
        &:hover {
            background-color: rgba(20,19,26,1);
        }
    }
}

.salutation {
    font-size: 88px;
    text-align: center;
    width: 760px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-play {
    background: #6e4aff url('../img/icon/play.png') center / auto 22px no-repeat;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    margin-top: 40px;
}

.color-gray {
    color: #504D60 !important;
}


.header__logo {
    display: flex;
    align-items: center;
    margin-right: 100px;
    position: fixed;
    z-index: 14;
    padding: 37px 40px;
    
    .header__logo_logo {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6E4AFF;
    }

    .header__logo-text {
        margin-left: 16px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
    }
}

.modal-wrapp {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    transition: .3s;
    opacity: 0;
    z-index: -1;
    overflow: auto;

    &:after {
        content:'';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 100%;
        background: transparent;
    }
}

.modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    //background-color: rgba(20,20,20,.6);
}

.modal {
    text-align: left;
    background-color: #000;
    padding: 20px;
    // scrollbar off
    &::-webkit-scrollbar { width: 0; }
    & { -ms-overflow-style: none; }
    & { overflow: -moz-scrollbars-none; }

    .modal__head {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.408px;
        position: relative;
        margin-bottom: 20px;
    }
    .modal__close {
        height: 16px;
        width: 16px;
        background: url('../img/icon/close.png') center / 14px no-repeat;
        position: absolute;
        right: 0;
        top: calc(50% - 8px);
        cursor: pointer;

    }
}

textarea {
    background-color: transparent;
    color: #F8F6FF;
    font-size: 17px;
    height: 25px;
    margin-right: auto;

    &::placeholder {
        opacity: .3;
    }
}

.tablinks, svg path, svg circle{
    transition: .3s;
}

.tablinks:hover:not(.active) {
    color: #737180 !important;

    svg path {
        fill: #737180;
    }
}

.feed-tab {
    position: relative;

    .feed__header_tabs {
        display: flex;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: #504D60;

        > div:first-child {
            margin-right: 16px;
        }

        .tablinks {
            cursor: pointer;
        }

        .tablinks.active {
            color: #EBEBF5;
        }
    }
}



.partie-tab {
    .tab {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: #504D60;

        > div:first-child {
            margin-right: 16px;
        }

        .tablinks {
            cursor: pointer;
        }

        .tablinks.active {
            color: #EBEBF5;
        }
    }
}

//.tabcontent {
//    animation: fadeEffect .5s;
//}

.tabcontent {
    //height: 0;
    //overflow: hidden;
    //transition: height 0s;
    //transform-origin: -100% 50%;
    //-webkit-backface-visibility: hidden;
    //backface-visibility: hidden;
}

//.feed__post {
//    animation: fadeEffect 1s;
//}
//
//
//@keyframes fadeEffect {
//    0% {
//        opacity: 0;
//        transform: scale(0.95);
//    }
//
//    100% {
//        opacity: 1;
//        transform: scale(1);
//    }
//}


.loading {
    display: none;
    position: absolute;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;

    .round-wrapp {
        display: flex;
        margin-bottom: 20px;

        .round-1 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #6E4AFF;
            animation: round-1 3s infinite;
        }

        .round-2 {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #6E4AFF;
            animation: round-2 3s infinite;
        }
    }
}

@keyframes open {
    0% {
        transform: scale(.95);
        opacity: 0;
        height: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        height: 100%;
    }
}

@keyframes close {
    0% {
        transform: scale(1);
        opacity: 1;
        height: 100%;
    }

    100% {
        transform: scale(.95);
        opacity: 0;
        height: 0;
    }
}

@keyframes round-1 {
    0% {
        transform: scale(.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.5);
    }
}

@keyframes round-2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}


.host-xb {
    background: rgba(20, 19, 26, .8) url('../img/icon/xbox.svg') 31px 50% / 17.5px no-repeat !important;
}

.host-ps {
    background: rgba(20, 19, 26, .8) url('../img/icon/ps.svg') 28.7px 50% / 22.5px no-repeat !important;
}

.host-pc {
    background: rgba(20, 19, 26, .8) url('../img/icon/pc.svg') 31.7px 50% / 20.8px no-repeat !important;
}

.host-sw {
    background: rgba(20, 19, 26, .8) url('../img/icon/switch.svg') 31.2px 50% / 17.5px no-repeat !important;
}

.host-mob {
    background: rgba(20, 19, 26, .8) url('../img/icon/mobile.svg') 33.7px 50% / 12.5px no-repeat !important;
}

.host-origin {
    background: rgba(20, 19, 26, .8) url('../img/icon/origin.svg') 31px 50% / 17.7px no-repeat !important;
}

.host-EG {
    background: rgba(20, 19, 26, .8) url('../img/icon/epic.svg') 31px 50% / 18.8px no-repeat !important;
}

.host-steam {
    background: rgba(20, 19, 26, .8) url('../img/icon/steam.png') 30px 50% / 20px no-repeat !important;
}


.partie__post_footer {
    .footer__row1 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        > * {
            position: relative;
            z-index: 1;
        }

        .round-btn {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-right: 8px;
            cursor: pointer;
            position: relative;

            &:hover .popover {
                opacity: 1;
            }
        }

        .btn-epic {
            background: rgba(116, 116, 128, .1) url('../img/icon/epic.svg') center / 13px no-repeat;
        }

        .btn-pc {
            background: rgba(116, 116, 128, .1) url('../img/icon/pc.svg') center / 18px no-repeat;
        }

        .btn-mic {
            background: rgba(116, 116, 128, .1) url('../img/icon/mic.svg') center / 10px no-repeat;
        }

        .btn-time {
            border-radius: 40px;
            padding: 8px 11px;
            background-color: rgba(210, 200, 103, .1);
            font-size: 13px;
            line-height: 17px;
            color: #D2C867;
            cursor: pointer;
        }

        .tooltip {
            padding: 13px 20px;
            border-radius: 20px;
            height: auto;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            bottom: calc(100% + 20px);
            left: -49px;
            text-align: center;
            width: 132px;
            transition: .3s;

            .popover__name {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                transform: rotate(45deg);
                bottom: -8px;
                left: calc(50% - 8px);
            }
        }

        .tool:hover .tooltip {
            opacity: 1;
            visibility: visible;
        }

        .tooltip, .tooltip:before {
            background: #1E1D24;
            border: 0;
        }
    }

    .footer__row2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            position: relative;
            z-index: 1;
        }

        button {
            width: 77px;
            height: 32px;
            margin-right: 8px;
        }

        .users-active {
            display: flex;
            margin-right: 25px;

            .avatar-wrapp {
                width: 15px;
                height: 32px;
                position: relative;

                .avatar {
                    height: 32px;
                    width: 32px;
                    min-width: 32px;
                    border: 3px solid #14131A;
                    position: absolute;
                }
            }

        }

        .users-active-counter {
            font-size: 13px;
            line-height: 17px;
            opacity: 0.3;
        }
    }

}

.avatar {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background: url('../img/icon/profile.png') center / cover no-repeat;
    position: relative;

    .status-online {
        width: 16px;
        height: 16px;
        background-color: #43CE62;
        border-radius: 50%;
        border: 3px solid #000;
        position: absolute;
        bottom: 0;
        right: -3px;
    }

    .avatar__star {
        height: 16px;
        width: 16px;
        min-width: 16px;
        border-radius: 6px;
        position: absolute;
        top: 0;
        right: -8px;
        background: #6E4AFF url('../img/icon/Star.svg') 50% calc(50% - 0.9px) / 10px no-repeat;
    }
}

.avatar-name {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;

    span {
        opacity: 0.3;
        margin-left: 7px;
    }
}


.like {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 20px;
    z-index: 1;

    label {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover svg path{
            fill: rgba(235,235,245,.9);
        }

        path {
            transition: .2s;
        }
    }
    input[type=checkbox]:checked + label path {
        fill: #F45365;
    }

    svg {
        margin-right: 10px;
    }
}

.comment {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover svg path {
        opacity: .9;
    }

    path {
        transition: .2s;
    }

    svg {
        margin-right: 10px;
    }

    .comment__counter {
        opacity: .5;
        transition: .2s;
    }

}

.like__counter {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.5;
    margin-right: 8px;
    transition: .2s;
    position: relative;
    z-index: 1;
}

.share {
    position: relative;
    z-index: 1;
    cursor: pointer;

    &:hover path {
        opacity: .9;
    }

    path {
        transition: .2s;
    }
}

.popover {
    padding: 20px;
    position: fixed;
    background: #14131A;
    border: 1px solid #1E1D24;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 254px;
    opacity: 0;
    visibility: hidden;
    transition: .3s opacity;
    &:before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #14131A;
        border: 1px solid #14131A;
        transform: rotate(45deg);
        position: absolute;
        bottom: -8px;
        left: calc(50% - 8px);
    }
    .popover__name {
        font-weight: bold;
        font-size: 17px;
        line-height: 150%;
        margin-bottom: 10px;
    }
    .popover__description {
        line-height: 150%;
        color: #EBEBF5;
        opacity: 0.5;
    }
}

#back {
    cursor: pointer;
}


@media (min-width: 1024px) { // PC

    body {
        background: #2e2e49 linear-gradient(180deg, #141423 22.4%, rgba(20, 20, 35, 0) 100%);
    }
    .wrapper {
        padding: 0 40px;
    }

    .mobile {
        display: none;
    }

    .pc-only {
        display: block;
    }

    .modal-wrapp {
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
        text-align: center;
        z-index: -1;
        opacity: 0;

        &:after {
            content:'';
            display: inline-block;
            vertical-align: middle;
            width: 1px;
            height: 100%;
            background: transparent;
        }
    }

    .modal {
        left: 0;
        width: 464px;
        margin: auto;
        border-radius: 20px;
        display: inline-block;
        position: relative !important;
        vertical-align: middle;
        height: auto;
        top: auto;
        opacity: 0;
        transition: .3s ease-out;
    }

    .sign-up__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 40px;

        .sign-up__tab_sign-up {
            margin-right: 15px;
        }

        .close {
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }

    .logIn__menu {
        display: block;
    }

    .feed__header_menu {
        width: 32px;
        height: 32px;
        background: url('../img/icon/dott.png') center / cover no-repeat;
        cursor: pointer;
        border-radius: 8px;
        transition: .3s ease;
        position: absolute;
        right: 0;
    }

    .header__menu_menu {
        position: fixed;
        top: calc(100% + 16px);
        background: #14131A;
        border-radius: 20px;
        width: 280px;
        font-weight: 700;
        z-index: 12;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease;


        ul {
            padding: 30px;
        }

        li {
            margin-bottom: 20px;
            cursor: auto;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                padding-left: 36px;
            }
            img {
                position: absolute;
                left: 0;
                top: calc(50% - 9px);
            }
        }
    }

    .close-place {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .user {
        display: flex;
        align-items: center;

        .avatar {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            cursor: pointer;
            min-width: 50px;
        }
        .user__name {
            font-weight: bold;
            margin-bottom: 6px;
            cursor: pointer;
        }
        .user__level,
        .user__message {
            opacity: 0.5;
        }
    }

    .btn-join {
        background-color: #6E4AFF;
        transition: .2s;

        &:active {
            opacity: .7;
        }
    }

}

.followers__row button {
    font-size: 12px;
    transition: .2s opacity;

    &:active {
        opacity: .7;
    }
}

.card-name {
    text-transform: capitalize;
}

.relative {
    position: relative;
}

.feed__header_tabs {
    a {
        transition: .3s;
    }

    a:hover:not(.active-tab) {
        color: #8E8C9C !important;
    }
}

.open-modal {
    opacity: 1 !important;
    z-index: 13 !important;
    background-color: rgba(20, 20, 20, 0.8) !important;

    .modal {
        opacity: 1 !important;
    }
}

@media (max-width: 1023px) { // mobile

    .pc-only {
        display: none;
    }

    .links,
    .header__menu_menu {
        display: none;
    }

    .btn-container-wrapp {
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        top: 100%;
        left: 0;
        background-color: rgba(20, 20, 20, .6);
        text-align: center;
    }

    .btn-container-show {
        transition: 1s easy;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #000;
        width: 100%;
        padding: 30px 30px 54px;
        border-radius: 20px 20px 0;
        z-index: -1;
        opacity: 0;
        display: none;

        .btn-apple {
            display: block;
        }
    }

    .subscription__policy {
        font-size: 12px;
        text-align: center;
        color: rgba(248, 246, 255, 0.3);
        line-height: 150%;

        span {
            color: #EBEBF5;
        }
    }

    .feed__header_menu {
        width: 32px;
        height: 32px;
        background: url('../img/icon/dott.png') center / cover no-repeat;
        cursor: pointer;
        border-radius: 8px;
        position: absolute;
        transition: .3s ease;
    }

    .post-menu .header__menu_menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #000;
        border-radius: 0;
        width: 100%;
        font-weight: 700;
        z-index: 12;
        opacity: 1;
        visibility: visible;
        transition: .3s ease;

        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: calc(50% - 19px);
            width: 38px;
            height: 6px;
            border-radius: 20px;
            background-color: #2B2A33;
        }


        ul {
            padding: 30px;
        }

        li {
            margin-bottom: 20px;
            cursor: auto;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                padding-left: 36px;
            }
            img {
                position: absolute;
                left: 0;
                top: calc(50% - 9px);
            }
        }
    }

    .close-place.post-menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background-color: rgba(20,20,20,.6);
        transition: .3s;

        .header__menu_menu {
            bottom: -100%;
            transition: .5s;
        }

        input[type=file] {
            display: none;
        }
    }

    .close-place,
    .modal__backdrop{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(20,20,20,.6);
    }

    .close-tap {
        position: absolute;
        height: 6px;
        width: 36px;
        top: 7px;
        left: calc(50% - 18px);
        background-color: #2B2A33;
        border-radius: 20px;
    }

    .close-tap-wrapp {
        background-color: transparent;
        padding: 12px 50px 25px;
        margin-top: -6px;
        margin-left: 031px;
    }

}





