@mixin font($font_name, $file_name, $weight, $style) { // подключение шрифтов
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'fonts.scss';
@import 'logIn.scss';
@import 'bg-animation.scss';


//обнуление
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    display: block;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

//-------------------------


body {
    font-family: Mont, sans-serif;
    background-color: #000;
    color: #EBEBF5;
}

.wrapper {
    padding: 0 30px;
    width: 100%;
    height: 100%;
}

button {
    background-color: #17161F;
    border-radius: 20px;
    width: 100%;
    height: 52px;
    color: #EBEBF5;
    font-weight: bold;
    transition: .5s easy;
}

input {
    padding: 0 20px;
    width: 100%;
    height: 52px;
    border: 1px solid #2F2F31;
    border-radius: 20px;
    background-color: #000;
    font-size: 17px;
    line-height: 100%;
    color: #EBEBF5;
    transition: .5s easy;
    letter-spacing: normal;
}

input:focus {
    border: 1px solid #6E4AFF;
}

input::placeholder {
    color: #2F2F31;
    font-size: 17px;
    line-height: 100%;
}

input[type=password] {
    font: large Verdana, sans-serif;
    letter-spacing: 5px;

    &::placeholder {
        letter-spacing: normal;
    }
}

.bg-fiolet {
    background-color: #6E4AFF;
}

.hidden {
    visibility: hidden;
}

.center {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    overflow: auto;

}

.btn-back {
    position: absolute;
    top: 0;
    left: 0;
}

.hint {
    font-size: 11px;
    color: #7C7B7F;
    margin-top: 11px;
}

.hint.error {
    color: #F45365;
    opacity: 1;
}

.border-error {
    border: 1px solid #F45365 !important;
}

.btn-valid-ok {
    background: #6E4AFF;
    opacity: 1 !important;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.bg-btn-container-show {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #141414;
    opacity: 0;
    z-index: -1;
}

.btn-container-show {
    transition: 1s easy;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    padding: 30px 30px 54px;
    border-radius: 20px 20px 0;
    z-index: -1;
    opacity: 0;

    .btn-apple {
        background: #17161f url('../img/icon/apple.png') 20px center / auto 19px no-repeat;
        margin-bottom: 10px;
    }

    .btn-google {
        background: #17161f url('../img/icon/google.png') 20px center / auto 19px no-repeat;
        margin-bottom: 10px;
    }

    .btn-facebook {
        background: #17161f url('../img/icon/facebook.png') 20px center / auto 19px no-repeat;
    }
}





